<!--top nav bar-->
<header ng-include="'/views/nav-top.html'"></header>

<div id="designer">
    <img class="designer-banner-img" src="images/designer-banner.jpg" alt="olbanner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 designer-content">
                <div class="row designer-introduction">
                    <div class="col-xs-4 col-md-4">
                        <img class="designer-profile-img" src="images/designer-profile.jpg" alt="designer">
                        <div class="designer-introduction-info">
                            <div>
                                <div class="glyphicon glyphicon-user" aria-hidden="true"></div>
                                <div>Karl Lagerfeld</div>
                                <small>Name</small>
                            </div>
                            <div>
                                <div class="glyphicon glyphicon-briefcase" aria-hidden="true"></div>
                                <div>Clothing design</div>
                                <small>PROFESSIONAL</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-md-8">
                        <div class="jumbotron">
                            <p>卡尔 拉格斐每年为Channel制作8个系列的服装，包括成衣和高级时装，为Fendi制作5个系列他不仅为Channel拍摄宣传照和产品目录，还举办自己的摄影展。 作为一名通晓英语、法语、德语和意大利语的读者，他连出版社也不肯放过。
                            </p>
                            <small>
                       1928年9月生于德国汉堡。卡尔自称1938年出生，但各种证据表明他其实给自己少算了5岁！父亲是卖炼乳的商人，母亲是内衣销售员。14岁时全家移居巴黎，并在此完成了学业。
                    </small>
                        </div>
                    </div>
                </div>

                <div class="row designer-works">
                    <div class="col-xs-12 btn-group" data-toggle="buttons">
                        <label class="btn btn-sm btn-default active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked>
                    设计师主推/RECOMMEND
                </label>
                        <label class="btn btn-sm btn-default">
                    <input type="radio" name="options" id="option2" autocomplete="off">
                    新款/NEW PRODUCT
                </label>
                    </div>

                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-4 designer-works-item">
                                <img src="/images/dwork-01.jpg" alt="">
                                <p>格纹鹿皮大衣</p>
                                <button type="button" class="btn btn-default btn-sm active">
                            347<small> RMB</small>
                        </button>
                            </div>
                            <div class="col-xs-4 designer-works-item">
                                <img src="/images/dwork-02.jpg" alt="">
                                <p>格纹鹿皮大衣</p>
                                <button type="button" class="btn btn-default btn-sm active">
                            347<small> RMB</small>
                        </button>
                            </div>
                            <div class="col-xs-4 designer-works-item">
                                <img src="/images/dwork-03.jpg" alt="">
                                <p>格纹鹿皮大衣</p>
                                <button type="button" class="btn btn-default btn-sm active">
                            347<small> RMB</small>
                        </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 designer-works-item">
                                <img src="/images/dwork-02.jpg" alt="">
                                <p>格纹鹿皮大衣</p>
                                <button type="button" class="btn btn-default btn-sm active">
                            347<small> RMB</small>
                        </button>
                            </div>
                            <div class="col-xs-4 designer-works-item">
                                <img src="/images/dwork-03.jpg" alt="">
                                <p>格纹鹿皮大衣</p>
                                <button type="button" class="btn btn-default btn-sm active">
                            347<small> RMB</small>
                        </button>
                            </div>
                            <div class="col-xs-4 designer-works-item">
                                <img src="/images/dwork-01.jpg" alt="">
                                <p>格纹鹿皮大衣</p>
                                <button type="button" class="btn btn-default btn-sm active">
                            347<small> RMB</small>
                        </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'/views/footer.html'"></div>


<!--bottom nav bar-->
<footer ng-include="'/views/nav-bottom.html'"></footer>