<div class="footer-page container-fluid">
    <div class="row">
        <div class="col-xs-3 col-md-3">
            <div class="row footer-page-row-1">
                <div class="col-xs-12 col-md-12">Uniquers</div>
            </div>
            <div class="row footer-page-row-2">
                <div class="col-xs-12 col-md-12">
                    <img class="brand-code" src="/images/code.png" alt="Uniquers">
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3">
            <div class="row footer-page-row-1">
                <div class="col-xs-12 col-md-12">服务中心</div>
            </div>
            <div class="row footer-page-row-2">
                <div class="col-xs-12 col-md-12">服务热线</div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3">
            <div class="row footer-page-row-1">
                <div class="col-xs-12 col-md-12">帮助中心</div>
            </div>
            <div class="row footer-page-row-2">
                <div class="col-xs-12 col-md-12">购物流程</div>
                <div class="col-xs-12 col-md-12">会员说明</div>
                <div class="col-xs-12 col-md-12 brand-input">品牌入住</div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3">
            <div class="row footer-page-row-1">
                <div class="col-xs-12 col-md-12">关于我们</div>
            </div>
            <div class="row footer-page-row-2">
                <div class="col-xs-12 col-md-12">介绍</div>
                <div class="col-xs-12 col-md-12">联系我们</div>
                <div class="col-xs-12 col-md-12">招贤纳士</div>
            </div>
        </div>
    </div>
</div>