<header ng-include="'/views/nav-top.html'">
</header>

<div id="page-home">
    <div id="u-carousel" class="carousel slide" data-ride="carousel" data-interval="2000">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#u-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#u-carousel" data-slide-to="1"></li>
            <li data-target="#u-carousel" data-slide-to="2"></li>
            <li data-target="#u-carousel" data-slide-to="3"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="carousel-img" src="/images/ad1.jpg" alt="First slide">
                <!--<div class="carousel-caption">新品展示</div>-->
            </div>
            <div class="item">
                <img class="carousel-img" src="/images/ad1.jpg" alt="Second slide">
                <!--<div class="carousel-caption">应季美搭</div>-->
            </div>
            <div class="item">
                <img class="carousel-img" src="/images/ad1.jpg" alt="Third slide">
                <!--<div class="carousel-caption">搭配师作品</div>-->
            </div>
            <div class="item">
                <img class="carousel-img" src="/images/ad1.jpg" alt="fourth slide">
                <!--<div class="carousel-caption">搭配妆容</div>-->
            </div>
        </div>

        <!-- Controls -->
        <!--<a class="left carousel-control" href="#u-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#u-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>-->
    </div>

    <div class="container-fluid">
        <div class="row page-home-u1">
            <div class="col-xs-12">
                <div class="row page-home-u1-title">
                    <div class="col-xs-12 ">
                        <img class="page-home-u1-title-text" src="/images/u1-title.png" alt="ui-title">
                        <img class="page-home-u1-title-splitter" src="/images/u1-splitter.png" alt="ui-title">
                    </div>
                </div>
                <div class="row page-home-u1-content">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-6">
                                <img src="/images/u1-01.jpg" alt="">
                            </div>
                            <div class="col-xs-6">
                                <img src="/images/u1-02.jpg" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <img src="/images/u1-03.jpg" alt="">
                            </div>
                            <div class="col-xs-6">
                                <img src="/images/u1-04.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <img src="/images/u1-05.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row page-home-u2">
            <div class="col-xs-12">
                <div class="row page-home-u2-title">
                    <div class="col-xs-12 ">
                        <img class="page-home-u2-title-text" src="/images/u2-title.png" alt="ui-title">
                        <img class="page-home-u1-title-splitter" src="/images/u1-splitter.png" alt="ui-title">
                    </div>
                </div>
                <div class="row page-home-u2-content">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="page-home-u2-item" src="/images/u2-01.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-u2-item" src="/images/u2-02.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-u2-item" src="/images/u2-03.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-u2-item" src="/images/u2-04.jpg" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="page-home-u2-item" src="/images/u2-01.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-u2-item" src="/images/u2-02.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-u2-item" src="/images/u2-03.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-u2-item" src="/images/u2-04.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row page-home-u3">
            <div class="col-xs-12">
                <div class="row page-home-u3-title">
                    <div class="col-xs-12 ">
                        <img class="page-home-u3-title-text" src="/images/u3-title.png" alt="ui-title">
                        <img class="page-home-u1-title-splitter" src="/images/u1-splitter.png" alt="ui-title">
                    </div>
                </div>
                <div class="row page-home-u3-content">
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-11">
                                <img src="/images/u3-profile.jpg" alt="">
                                <img src="/images/u3-profile-info.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <img src="/images/u3-01.jpg" alt="">
                        <img src="/images/u3-02.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="/images/u3-03.jpg" alt="">
                        <img src="/images/u3-04.jpg" alt="">
                        <img src="/images/u3-05.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row page-home-f1">
            <div class="col-xs-12">
                <div class="row page-home-f1-title">
                    <div class="col-xs-12 ">
                        <img class="page-home-f1-title-text" src="/images/f1-title.png" alt="ui-title">
                        <a href="/ol" class="page-home-f1-btn-more">MORE ></a>
                        <img class="page-home-u1-title-splitter" src="/images/f1-splitter.png" alt="ui-title">
                    </div>
                </div>
                <div class="row page-home-f1-content">
                    <div class="col-xs-3">
                        <a href="/designer"><img class="page-home-f1-item" src="/images/f1-profile.jpg" alt=""></a>
                    </div>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f1-01.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f1-02.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f1-03.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f1-04.jpg" alt="">
                            </div>
                        </div>
                        <div class="row" style="margin-top:6px;">
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f1-01.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f1-02.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f1-03.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f1-04.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row page-home-f1">
            <div class="col-xs-12">
                <div class="row page-home-f1-title">
                    <div class="col-xs-12 ">
                        <img class="page-home-f1-title-text" src="/images/f2-title.png" alt="ui-title">
                        <a href="/ol" class="page-home-f1-btn-more">MORE ></a>
                        <img class="page-home-u1-title-splitter" src="/images/f1-splitter.png" alt="ui-title">
                    </div>
                </div>
                <div class="row page-home-f1-content">
                    <div class="col-xs-3">
                        <a href="/designer"><img class="page-home-f1-item" src="/images/f2-profile.jpg" alt=""></a>
                    </div>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f2-01.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f2-02.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f2-03.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f2-04.jpg" alt="">
                            </div>
                        </div>
                        <div class="row" style="margin-top:6px;">
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f2-01.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f2-02.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f2-03.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f2-04.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row page-home-f1">
            <div class="col-xs-12">
                <div class="row page-home-f1-title">
                    <div class="col-xs-12 ">
                        <img class="page-home-f1-title-text" src="/images/f3-title.png" alt="ui-title">
                        <a href="/ol" class="page-home-f1-btn-more">MORE ></a>
                        <img class="page-home-u1-title-splitter" src="/images/f1-splitter.png" alt="ui-title">
                    </div>
                </div>
                <div class="row page-home-f1-content">
                    <div class="col-xs-3">
                        <a href="/designer"><img class="page-home-f1-item" src="/images/f3-profile.jpg" alt=""></a>
                    </div>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f3-01.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f3-02.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f3-03.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f3-04.jpg" alt="">
                            </div>
                        </div>
                        <div class="row" style="margin-top:6px;">
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f3-05.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f3-06.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f3-07.jpg" alt="">
                            </div>
                            <div class="col-xs-3">
                                <img class="page-home-f1-item" src="/images/f3-08.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--<div class="row">
    <div class="page-home-feature-head">
        <div class="page-home-feature-party">
            <span class="page-home-feature-flag">1F</span>
            <span class="page-home-feature-title">Party</span>
            <a href="/party" class="page-home-feature-more">more ></a>
        </div>
    </div>

    <div class="page-home-feature-content">
        <div class="designer">
            <a href="/designer">
                <img src="/images/designer-party.png" alt="party推荐设计师">

                <div class="party-suggest-designer">
                    推荐设计师
                </div>
            </a>
        </div>
        <div class="works">
            <div ng-repeat="item in partyItems" class="work-item">
                <a ng-href="/detail/{{item.id}}">
                    <img ng-src="{{item.url}}" alt="..." class="img-thumbnail">
                    <span class="item-spec">作品</span>
                </a>
            </div>
        </div>
    </div>


    <div class="page-home-feature-head">
        <div class="page-home-feature-party page-home-feature-ol">
            <span class="page-home-feature-flag">2F</span>
            <span class="page-home-feature-title">OL</span>
            <a href="/ol" class="page-home-feature-more">more ></a>
        </div>
    </div>

    <div class="page-home-feature-content">
        <div class="designer">
            <a href="/designer">
                <img src="/images/designer-ol.png" alt="OL推荐设计师">

                <div class="ol-suggest-designer">
                    推荐设计师
                </div>
            </a>
        </div>
        <div class="works">
            <div ng-repeat="item in olItems" class="work-item">
                <a ng-href="/detail/{{item.id}}">
                    <img ng-src="{{item.url}}" alt="..." class="img-thumbnail">
                    <span class="item-spec">作品</span>
                </a>
            </div>

        </div>
    </div>



    <div class="page-home-feature-head">
        <div class="page-home-feature-party page-home-feature-vocation">
            <span class="page-home-feature-flag">3F</span>
            <span class="page-home-feature-title">Vacation</span>
            <a href="/vacation" class="page-home-feature-more">more ></a>
        </div>
    </div>

    <div class="page-home-feature-content">
        <div class="designer">
            <a href="/designer">
                <img src="/images/designer-vocation.png" alt="Vocation推荐设计师">

                <div class="vocation-suggest-designer">
                    推荐设计师
                </div>
            </a>
        </div>
        <div class="works">
            <div ng-repeat="item in vacationItems" class="work-item">
                <a ng-href="/detail/{{item.id}}">
                    <img ng-src="{{item.url}}" alt="..." class="img-thumbnail">
                    <span class="item-spec">作品</span>
                </a>
            </div>

        </div>
    </div>
</div>-->
<div ng-include="'/views/footer.html'"></div>

<footer ng-include="'/views/nav-bottom.html'"></footer>