<!--top nav bar-->
<header ng-include="'/views/nav-top.html'"></header>

<div id="kind">
    <img class="kind-banner" src="./images/kind_banner.jpg" alt="">
    <div class="jacket container-fluid">
        <div class="jacket-title">
            <img class="jacket-title-img" src="./images/jacket-title.png" alt="">
            <img class="jacket-line-img" src="./images/line.png" alt="">
        </div>

        <div class="row jacket-content">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="./images/jacket-01.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/jacket-02.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/jacket-03.jpg" alt="">
                    </div>
                </div>
                <div class="row price-row">
                    <div class="col-xs-4">
                        <img src="./images/jacket-price.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/jacket-price.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/jacket-price.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <img src="./images/jacket-04.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/jacket-05.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/jacket-06.jpg" alt="">
                    </div>
                </div>
                <div class="row price-row">
                    <div class="col-xs-4">
                        <img src="./images/jacket-price.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/jacket-price.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/jacket-price.jpg" alt="">
                    </div>
                </div>
            </div>


        </div>

        <div class="jacket-more">
            <img class="jacket-more-img" src="./images/more-title.png" alt="">
            <img class="jacket-line-img" src="./images/more-line.png" alt="">
            <img class="jacket-more-img" src="./images/more-arrow.png" alt="">
        </div>
        <div class="row jacket-more-content">
            <div class="col-xs-12">
                <div class="row">
                    <img class="jacket-more-content-img" src="./images/jacket-more-01.jpg" alt="">
                    <img class="jacket-more-content-img" src="./images/jacket-more-01.jpg" alt="">
                    <img class="jacket-more-content-img" src="./images/jacket-more-02.jpg" alt="">
                    <img class="jacket-more-content-img" src="./images/jacket-more-03.jpg" alt="">
                    <img class="jacket-more-content-img" src="./images/jacket-more-04.jpg" alt="">
                </div>
                <div class="row">
                    <img class="jacket-more-content-img" src="./images/jacket-more-01.jpg" alt="">
                    <img class="jacket-more-content-img" src="./images/jacket-more-01.jpg" alt="">
                    <img class="jacket-more-content-img" src="./images/jacket-more-02.jpg" alt="">
                    <img class="jacket-more-content-img" src="./images/jacket-more-03.jpg" alt="">
                    <img class="jacket-more-content-img" src="./images/jacket-more-04.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="trousers container-fluid">
        <div class="trousers-title">
            <img class="trousers-title-img" src="./images/trousers-title.png" alt="">
            <img class="trousers-line-img" src="./images/line.png" alt="">
        </div>

        <div class="row trousers-content">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="./images/trousers-01.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/trousers-02.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/trousers-03.jpg" alt="">
                    </div>
                </div>
                <div class="row price-row">
                    <div class="col-xs-4">
                        <img src="./images/jacket-price.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/jacket-price.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/jacket-price.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <img src="./images/trousers-04.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/trousers-05.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/trousers-06.jpg" alt="">
                    </div>
                </div>
                <div class="row price-row">
                    <div class="col-xs-4">
                        <img src="./images/jacket-price.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/jacket-price.jpg" alt="">
                    </div>
                    <div class="col-xs-4">
                        <img src="./images/jacket-price.jpg" alt="">
                    </div>
                </div>
            </div>

        </div>

        <div class="trousers-more">
            <img class="trousers-more-img" src="./images/more-title.png" alt="">
            <img class="trousers-line-img" src="./images/more-line.png" alt="">
            <img class="trousers-more-img" src="./images/more-arrow.png" alt="">
        </div>
        <div class="row trousers-more-content">
            <div class="col-xs-12">
                <div class="row">
                    <img class="trousers-more-content-img" src="./images/trousers-more-01.jpg" alt="">
                    <img class="trousers-more-content-img" src="./images/trousers-more-02.jpg" alt="">
                    <img class="trousers-more-content-img" src="./images/trousers-more-03.jpg" alt="">
                    <img class="trousers-more-content-img" src="./images/trousers-more-04.jpg" alt="">
                    <img class="trousers-more-content-img" src="./images/trousers-more-05.jpg" alt="">
                </div>
                <div class="row">
                    <img class="trousers-more-content-img" src="./images/trousers-more-06.jpg" alt="">
                    <img class="trousers-more-content-img" src="./images/trousers-more-07.jpg" alt="">
                    <img class="trousers-more-content-img" src="./images/trousers-more-08.jpg" alt="">
                    <img class="trousers-more-content-img" src="./images/trousers-more-09.jpg" alt="">
                    <img class="trousers-more-content-img" src="./images/trousers-more-10.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'/views/footer.html'"></div>

<!--bottom nav bar-->
<!--<footer ng-include="'/views/nav-bottom.html'"></footer>-->