<!--top nav bar-->
<header ng-include="'/views/nav-top.html'"></header>

<div id="kind">
    <img class="kind-banner" src="./images/kind_banner.jpg" alt="">
    <div class="jacket container-fluid">
        <div class="jacket-title">
            <img class="jacket-title-img" src="./images/jacket-title.png" alt="">
            <img class="jacket-line-img" src="./images/line.png" alt="">
        </div>

        <div class="row jacket-content">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4" ng-repeat="jacketItem in jacketItems">
                        <a ng-href="/detail/{{jacketItem.id}}"><img ng-src="{{jacketItem.url}}" alt=""></a>
                        <div class="price-row"><img src="./images/jacket-price.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jacket-more">
            <img class="jacket-more-img" src="./images/more-title.png" alt="">
            <img class="jacket-line-img" src="./images/more-line.png" alt="">
            <img class="jacket-more-img" src="./images/more-arrow.png" alt="">
        </div>
        <div class="row jacket-more-content">
            <div class="col-xs-12">
                <div class="row">
                    <a ng-repeat="jacketMoreItem in jacketMoreItems" ng-href="/detail/{{jacketMoreItem.id}}">
                        <img class="jacket-more-content-img" ng-src="{{jacketMoreItem.url}}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="trousers container-fluid">
        <div class="trousers-title">
            <img class="trousers-title-img" src="./images/trousers-title.png" alt="">
            <img class="trousers-line-img" src="./images/line.png" alt="">
        </div>

        <div class="row trousers-content">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4" ng-repeat="trousersItem in trousersItems">
                        <a ng-href="/detail/{{trousersItem.id}}"><img ng-src="{{trousersItem.url}}" alt=""></a>
                        <div class="price-row"><img src="./images/jacket-price.jpg" alt=""></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="trousers-more">
            <img class="trousers-more-img" src="./images/more-title.png" alt="">
            <img class="trousers-line-img" src="./images/more-line.png" alt="">
            <img class="trousers-more-img" src="./images/more-arrow.png" alt="">
        </div>
        <div class="row trousers-more-content">
            <div class="col-xs-12">
                <div class="row">
                    <a ng-repeat="trousersMoreItem in trousersMoreItems" ng-href="/detail/{{trousersMoreItem.id}}">
                        <img class="trousers-more-content-img" ng-src="{{trousersMoreItem.url}}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'/views/footer.html'"></div>

<!--bottom nav bar-->
<!--<footer ng-include="'/views/nav-bottom.html'"></footer>-->