<div ng-controller="TopCtrl" class="nav-top">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li>
                <a href="/">
                    <div><img class="brand" src="/images/logo-title.png" alt="UNIQUERS"></div>
                </a>
            </li>
            <li ng-class="{ active: isActive('/home')}">
                <a href="/home">
                    <span class="cn-text">主页</span>
                    <span class="en-text">HOME</span>
                </a>
            </li>
            <li ng-class="{ active: isActive('/kind')}">
                <a href="/kind">
                    <span class="cn-text">派对风格</span>
                    <span class="en-text">PARTY</span>
                </a>
            </li>
            <li ng-class="{ active: isActive('/thenew')}">
                <a href="thenew">
                    <span class="cn-text">OL风格</span>
                    <span class="en-text">OL</span>
                </a>
            </li>
            <li ng-class="{ active: isActive('/about')}">
                <a href="about">
                    <span class="cn-text">度假风格</span>
                    <span class="en-text">VACATION</span>
                </a>
            </li>
        </ul>
    </nav>
</div>