<div data-ng-controller="TopCtrl" ng-if="!splash" class="top-nav container-fluid {{navshow}}">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li>
                <a href="/home">
                    <!--<span class="brand">UNIQUERS</span>-->
                    <img class="brand" src="/images/logo-title.png" alt="UNIQUERS">
                </a>
            </li>
        </ul>
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span>其他</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Action1</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </nav>
</div>