
<!--top nav bar-->
<header ng-include="'/views/nav-top.html'"></header>

<div id="party" class="row">
    <img class="party-banner-img" src="images/ad3.jpg" alt="partybanner">

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a role="button" class="btn btn-default active">流行元素</a>
        <a role="button" class="btn btn-default">搭配师推荐</a>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="...">
        <button type="button" class="btn btn-sm btn-default">民族</button>
        <button type="button" class="btn btn-sm btn-default">欧美</button>
        <button type="button" class="btn btn-sm btn-default">清新</button>
        <button type="button" class="btn btn-sm btn-default">御姐</button>
        <button type="button" class="btn btn-sm btn-default">性冷淡</button>
        <button type="button" class="btn btn-sm btn-default">女王</button>
        <button type="button" class="btn btn-sm btn-default">街头</button>
    </div>
</div>
<div ng-include="'/views/footer.html'"></div>

<!--bottom nav bar-->
<footer ng-include="'/views/nav-bottom.html'"></footer>