<div id="page-welcome">
  <a href="/home"><img class="profile-woman" src="/images/woman.jpg" alt=""></a>
  <div class="page-welcome-content">
    <p><a href="#">Welcome</a></p>
    <p><a href="#">to</a></p>
    <p><a href="/home">Uniquers</a></p>
  </div>
  <a href="/home"><img class="profile-man" src="/images/man.jpg" alt=""></a>
  <span id="qqLoginBtn" style="
    position: absolute;
    right: 10px;
    bottom: 10px;">QQ</span>
</div>

<script type="text/javascript">
    QC.Login({
       btnId:"qqLoginBtn"    //插入按钮的节点id
});
</script>