<div id="page-welcome">
    <div class="page-welcome-images" ng-init="choice = '' ">
        <img ng-if="!phone" class="face-base" src="/images/face03.jpg" alt="">
        <img ng-if="phone" class="face-base" src="/images/face-phone-03.png" alt="">
        <a class="face-left" ng-click="choice = 'man' " href="javascript:void(0)" ng-class="{hover:choice=='man'}">
            <img ng-if="!phone" src="/images/face02.jpg" alt="" ng-click="gotoHome()">
            <img ng-if="phone" src="/images/face-phone-02.png" alt="">
        </a>
        <a class="face-right" ng-click="choice = 'woman' " href="javascript:void(0)" ng-class="{hover:choice=='woman'}">
            <img ng-if="!phone" src="/images/face01.jpg" alt="" ng-click="gotoHome()">
            <img ng-if="phone" src="/images/face-phone-01.png" alt="">
        </a>
        <div class="face-phone-text"  ng-if="phone">
            <a ng-if="choice == '' " href="javascript:void(0)">
                <img src="/images/face-phone-empty.png" alt="">
            </a>
            <a ng-if="choice == 'man' " href="/home">
                <img src="/images/face-phone-man.png" alt="">
            </a>
            <a ng-if="choice == 'woman' " href="/home">
                <img src="/images/face-phone-woman.png" alt="">
            </a>
        </div>
    </div>
</div>