@import "variable";
@import "mixin";
html,
body {
    margin: 0;
    padding: 0;
    font-family: $fontStack;
    overflow-x: hidden;
}

.container-fluid{
    max-width: 1200px;
}

.row-no-padding {
  margin-left: 0;
  margin-right: 0;
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

#about,
#designer,
#detail,
#kind,
#match,
#ol,
#party,
#thenew,
#vacation{
    padding-top: $navbarHeight;
}