@import "variable";
@import "mixin";

html,
body {
    margin: 0;
    padding: 0;
    font-family: $fontStack;
    overflow-x: hidden;
}

.container,
.container-fluid,
.row{
    margin: 0;
    padding: 0;
}

.brand-code{
  height: 40px;
}

.no-padding{
  padding: 0;
}




