.bottom-nav .navbar {
     z-index: 1000;
}

.bottom-nav  li{
    width: 16.5%;
    overflow: hidden;
}

.bottom-nav  li.active{
   background: #e7e7e7;
}

.bottom-nav .nav.navbar-nav{
    width: 100%;
}


.bottom-nav .navbar-nav>li>a>span:first-child{
    font-size: 16px;
    position: relative;
    top: 5px;
}

.bottom-nav .navbar-nav>li>a>span:last-child {
    display: block;
}

