.nav-top .navbar{
    padding: .2em .4em;
}

.nav-top li{
    width: 16.5%;
    overflow: hidden;
}

.nav-top .nav.navbar-nav{
    width: 100%;
}

.nav-top .brand{
    position: absolute;
    height: 20px;
    top: .7em;
    left: .8em;
}

.nav-top .cn-text{
    display: block;
    font-size: .8em;
}

.nav-top .en-text{
    display: block;
    font-size: .8em;
    transform:scale(0.6);
    position: relative;
}