.nav-top .navbar{
    padding: .2em .4em;
}

.nav-top li{
    width: 16.5%;
    overflow: hidden;
}

.nav-top li.active{
    background-color: #080808;
}

.nav-top .nav.navbar-nav{
    width: 100%;
}

.nav-top .brand{
    position: absolute;
    top: .9em;
    left: .5em;
    height: .8em;
}

.nav-top .cn-text{
    position: relative;
    top:2px;
    display: block;
    font-size: .8em;
    white-space: nowrap;
}

.nav-top .en-text{
    position: relative;
    top:-2px;
    display: block;
    font-size: .8em;
    white-space: nowrap;
    letter-spacing: -1px;
    @include scale(0.6);
}

.nav-top .img-profile{
    position: absolute;
    top: 50%;
    right: .5em;
    height: 30px;
    @include translate(0,-50%);
}

.nav-top .user-menu {
    position: absolute;
    top: $navbarHeight;
    right: 0;
    background-color: #222;
    color: white;
    font-size: .8em;
    @include translate(100%, 0);
}

.nav-top .user-menu>div {
    padding: 5px 10px;
    border-bottom: 1px solid gray;
}

.nav-top .user-menu.user-menu-show{
    @include translate(0, 0);
    @include transition('transform ease-in .5s');
}

.nav-top .user-menu.user-menu-hide{
    @include translate(100%, 0);
    @include transition('transform ease-in .5s');
}