.kind-banner,
.jacket-line-img,
.trousers-line-img{
    width:100%;
}

.jacket,
.trousers{
    margin-top: 5em;
}

.jacket-content,
.jacket-more-content,
.trousers-content,
.trousers-more-content{
    padding-left: 1em;
    padding-right: 1em;
}

.jacket-title,
.jacket-more,
.trousers-title,
.trousers-more{
    text-align: center;
}

.jacket-content  .col-xs-4,
.trousers-content  .col-xs-4{
    text-align: center;
}

.jacket-content  .col-xs-4 img,
.trousers-content  .col-xs-4 img{
    max-width: 100%;
}

#kind .price-row{
    margin: .5em;
}

#kind .price-row > img{
    max-width: 80%;
}

.jacket-more,
.trousers-more{
    margin-top: 2em;
}

.jacket-more-content .row,
.trousers-more-content .row, {
    text-align: center;
    margin-top: .8em;
}

.jacket-more-content .row  img,
.trousers-more-content .row  img{
    max-width: 18%;
    width: 100%;
}

.jacket-more-content-img,
.trousers-more-content-img{
    margin-bottom: .5em;
}
/* iphone (portrait and landscape) ----------- */

@media only screen and (max-width: 767px) {
    .jacket-more-img,
    .jacket-title-img,
    .trousers-more-img,
    .trousers-title-img {
        max-height: 2em;
    }
}
