
#page-home .carousel-img{
  width: 100%;
}

#page-home .carousel-caption {
    color: purple;
    font-size: 3em;
    font-weight: 700;
}

.page-home-feature-head{
    margin-top: 0.3em;
}
.page-home-feature-party{
    height: 3em;
    background: #eee;
    border-top: 1px #ddd solid;
    border-bottom: 4px solid #f66292;
    padding: 0.7em 0;
    opacity: 0.8;
}

.page-home-feature-ol{
    border-bottom: 4px solid #aa72d3;
}


.page-home-feature-vocation{
    border-bottom: 4px solid #62a7e8;
}

.page-home-feature-flag{
    color:#ea4b7e;
}

.page-home-feature-title{
    font-size: 18px;
    color: #717171;
    padding-left: 2px;
}
.page-home-feature-more{
 position: absolute;
 right: 0;
}

.page-home-feature-content{
    padding: 0.2em 0;
    height: 224px;
}

.page-home-feature-content .designer{
 float:left;
 position: relative;
 height: 100%;
}

.page-home-feature-content .designer img{
  height:100%;  
}

.page-home-feature-content .works{
        float: right;
    width: calc(100% - 120px);
    overflow-x: auto;
    height: 100%;
    display: block;
    white-space: nowrap;
    position: relative;
    padding:1.5em .5em 0 .5em;
}

.page-home-feature-content .works .work-item{
    display: inline;
    position: relative;
        margin: 0 0.5em;
}

span.item-spec {
    position: absolute;
    left: 50%;
    bottom: -105px;
}

.page-home-feature-content .works .work-item img{
    width: auto;
    height: 85%;
    min-width: 105px;
    background-image: url('/images/placeholder.jpg');
    background-position: center;
    background-size: 100% auto;
}



.profile-woman{
    position: absolute;
    top:10%;   
    left:50%;
    margin-left:-50px;
    
}


.profile-man{
    position: absolute;
    bottom:10%;   
    left:50%;
    margin-left:-50px;
}

.nav>li, .nav>li>a {
    display: inline-block;
}

.navbar-nav {
    margin: 0;
}

.navbar {
    margin: 0;
    padding: 0;
    min-height: $navbarHeight;
    height: $navbarHeight; 
    border-radius: 0;
    opacity: .8;
}

.navbar-nav>li>a {
    padding:0 5px;
    text-align: center;
}

.party-suggest-designer,
.ol-suggest-designer,
.vocation-suggest-designer{
    text-align:center;
    position:absolute; 
    width:100%; 
    height:100px;
    bottom: 0;
    line-height:100px;
    font-weight:400;
    color: white;
}

.party-suggest-designer{
    background:rgba(234,75,126,0.5);
}

.ol-suggest-designer{
    background:rgba(170,114,211,0.5);
}

.vocation-suggest-designer{
    background:rgba(98,167,232,0.5);
}


.party-banner-img{
     width: 100%;
}

.ol-banner-img{
     width: 100%;
}


.vacation-banner-img{
     width: 100%;
}