#detail{
    .site-map{
        margin-top: 1em;
        a{
            color: #c1c1c1;
        }
    }

    .buy-selection,
    .designer-comment{
        margin:1em auto;
        padding: 0;
        background-color: #f6f6f6;
        
        .carousel-img{
            width: 100%;
        }

        .color-img{
            height: 72px;
        }
        
        .single-price{
            color: red;
            font-size: 1.5em;
        }

        .size-row-options > div,
        .rent-row-options >div{
            border: 1px solid #c1c1c1;
            margin-right: .8em;
            margin-bottom: .8em;
            padding: .1em .5em;
            text-align: center;
        }

        .amount-row-options > span,
        .amount-row-options > input{
             margin-right: .5em;
             text-align: center;
             display: inline-block;
        }

         .amount-row-options > span{
             padding: .25em .2em;
         }

         .shop-btn-row-line{
             height: 1px;
             background-color: #c1c1c1;
             width: 80%;
             margin: 2em;
             text-align: center;
         }
    }

    .buy-selection-detail>.row{
        margin-bottom: 2.5em; 
        padding: 1em;
    }

    .buy-selection-detail>.color-row{
        line-height: 72px;
    }

   
}

 @media only screen and (max-width: 767px) {
    #detail{ 
        .buy-selection-detail>.row {
             margin-bottom: 0; 
             padding: 0.5em 2em;
        }
    }
}