
#page-welcome{
 position: absolute; 
 top:0;
 left: 0;
 bottom: 0;
 right: 0;
  background-color: #000000;
}

.page-welcome-content{
  position: absolute;
  top:50%;
  left:50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-welcome-content a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.page-welcome-content p {
    text-align: center;
    font-size: 2em;
    margin: 10px 0 0 0;
    padding: 0 10px;
}

.page-welcome-content p:nth-child(1) a {
    color: green;//test   dsadasd
    font-family: Monoton;
}
.page-welcome-content p:nth-child(1) a:hover{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}

.page-welcome-content p:nth-child(2) a {
    color: #FFDD1B;
    font-family: Pacifico;
}

.page-welcome-content p:nth-child(2) a:hover{
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.page-welcome-content p:nth-child(3) a {
    font-size: 3.2em;
    color: #228DFF;
    font-family: Iceland;
     -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate; 
}


.face-base,
.face-left,
.face-right{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 50%;
}

.face-base,
.face-left>img,
.face-right>img{
    width: 100%;
}
.face-left{

        opacity: 1;
        left: 0;
}
.face-right{

    right: 0;
    opacity: 1;
}

.face-left:hover{
    opacity: 0;
    transition: all 1s 
}

.face-right:hover{
    opacity: 0;
    transition: all 1s 
}