html,body {
  margin: 0;
  padding: 0;
}
.container,
.container-fluid{
    padding: 0;
}
.row{
    margin: 0;
}

#page-welcome{
 position: absolute; 
 top:0;
 left: 0;
 bottom: 0;
 right: 0;
  background-color: #222222;
}

.page-welcome-content{
  position: absolute;
  top:50%;
  left:50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-welcome-content a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.page-welcome-content p {
    text-align: center;
    font-size: 2em;
    margin: 10px 0 0 0;
    padding: 0 10px;
}

.page-welcome-content p:nth-child(1) a {
    color: #FF1177;
    font-family: Monoton;
}
.page-welcome-content p:nth-child(1) a:hover{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}

.page-welcome-content p:nth-child(2) a {
    color: #FFDD1B;
    font-family: Pacifico;
}

.page-welcome-content p:nth-child(2) a:hover{
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.page-welcome-content p:nth-child(3) a {
    font-size: 3.2em;
    color: #228DFF;
    font-family: Iceland;
     -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate; 
}

.ngView{
  overflow-x: hidden;
}
.ngView.ng-leave 	{ z-index:9999; }
.ngView.ng-enter 	{ z-index:8888; }

.ngView.ng-leave         {
    -webkit-animation:scaleDown 0.5s both ease-in;
	-moz-animation:scaleDown 0.5s both ease-in;
	animation:scaleDown 0.5s both ease-in;  

}
.ngView.ng-enter 		{  
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;    
}

#page-home .carousel-img{
  margin: 0 auto;
}

#page-home .carousel-caption {
    color: purple;
    font-size: 3em;
    font-weight: 700;
}

.page-home-feature-head{
    margin-top: 0.8em;
}
.page-home-feature-party{
    height: 3em;
    background: #eee;
    border-top: 1px #ddd solid;
    border-bottom: 4px solid #f66292;
    padding: 0.7em 0;
    opacity: 0.8;
}

.page-home-feature-ol{
    border-bottom: 4px solid #aa72d3;
}


.page-home-feature-vocation{
    border-bottom: 4px solid #62a7e8;
}

.page-home-feature-flag{
    color:#ea4b7e;
}

.page-home-feature-title{
    font-size: 18px;
    color: #717171;
    padding-left: 2px;
}
.page-home-feature-more{
 position: absolute;
 right: 0;
}

.page-home-feature-content{
    padding: 0.5em 0;
    height: 264px;
}

.page-home-feature-content .designer{
 float:left;
 position: relative;
}

.page-home-feature-content .designer img{
  width: 120px;   
}

.page-home-feature-content .works{
    float:right;
}


.page-home-feature-content .works img{
    width: 96px;
}

.profile-woman{
    position: absolute;
    top:10%;   
    left:50%;
    margin-left:-50px;
    
}


.profile-man{
    position: absolute;
    bottom:10%;   
    left:50%;
    margin-left:-50px;
}

.nav>li, .nav>li>a {
    display: inline-block;
}

.navbar-nav {
    margin: 0;
    display: inline-block;
}
.navbar {
    margin: 0;
    padding: 0 15px;
    min-height: 40px; 
    border-radius: 0;
    opacity: .8;
}

.navbar-nav>li>a {
    padding:0 10px;
    text-align: center;
}

.bottom-nav .navbar-nav>li>a>span:first-child{
    font-size: 16px;
    position: relative;
    top: 5px;
}

.bottom-nav .navbar-nav>li>a>span:last-child {
    display: block;
}

.top-nav{
 color: white;  
 padding: 0; 
}
.top-nav span{
    font-size: 900;
    line-height: 36px;
    color: white;
}

.top-nav .navbar {
    min-height: 36px; 
}

.top-nav .dropdown{
    position: absolute;
    right: 0;
    top: 0;
}

.top-nav .dropdown-menu{
    left: auto;
    right: 0;
}
.top-nav a{
    text-decoration: none;
}