.uq-view{
  padding: 50px 0 40px 0;
}

.ngView{
  overflow-x: hidden;
}
.ngView.ng-leave 	{ 
  z-index:9999;
  }
.ngView.ng-enter 	{ 
  z-index:8888;
  position: absolute;
  top:50px;
  left: 0;
  right: 0;
  }

.ngView.ng-leave         {
    -webkit-animation:scaleDown 0.5s both ease-in;
	-moz-animation:scaleDown 0.5s both ease-in;
	animation:scaleDown 0.5s both ease-in;  

}
.ngView.ng-enter 		{  
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;    
}